<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title><%= title %> | Archboard</title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%- include('webpack.ejs') %>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js"></script>
    <script>
      function dropdown() {
        return {
          show: false,
          open() { this.show = true },
          close() { this.show = false },
          toggle() { this.show = !this.show },
          isOpen() { return this.show === true },
        }
      }
  </script>
  </head>

  <body class="antialiased text-gray-900">

    <div x-data="{ showMobileMenu: false }" class="relative bg-white z-20">
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
          <div class="flex justify-start lg:w-0 lg:flex-1">
            <a href="/">
              <span class="sr-only">Archboard</span>
              <img class="h-8 w-auto sm:h-10" src="/assets/images/full-color.svg" alt="Archboard">
            </a>
          </div>

          <!-- menu button -->
          <div class="-mr-2 -my-2 md:hidden">
            <button x-on:click.prevent="showMobileMenu = !showMobileMenu" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
              <span class="sr-only">Open menu</span>
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>

          <!-- desktop navigation -->
          <nav class="hidden md:flex space-x-10">
            <div x-data="dropdown()" class="relative">
              <button
                x-on:click.prevent="toggle"
                x-bind:class="{ 'text-gray-900 bg-gray-100': isOpen(), 'text-gray-500': !isOpen() }"
                type="button"
                class="group px-2 bg-white rounded-full inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-gray-500 transition-colors duration-200 ease-in-out"
              >
                <span>Solutions</span>
                <svg x-bind:class="{ 'text-gray-600': isOpen(), 'text-gray-400 group-hover:text-gray-500': !isOpen() }" class="ml-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>

              <div
                x-show="isOpen()"
                x-on:click.away="close"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0 -translate-y-2"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-in duration-150"
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 -translate-y-2"
                class="absolute -ml-4 mt-3 transform z-10 px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
              >
                <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                  <div class="z-20 relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    <a href="/products/tidal-ptc/" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                      <svg class="flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 468.65 468.67" class="h-10 w-auto"><path fill="#047481" d="M468.65 234.34c0 129.42-104.92 234.33-234.31 234.33S0 363.76 0 234.34 104.93 0 234.34 0s234.31 104.91 234.31 234.34z"></path><g fill="#7edce2"><path d="M234.14 432.8C133.65 432.8 48.48 357.72 36 258.14A12.69 12.69 0 0161.2 255c10.87 86.9 85.22 152.43 172.94 152.43 81.12 0 152.7-57.44 170.17-136.55a12.69 12.69 0 1124.78 5.47C409.07 367 327.08 432.8 234.14 432.8z"></path><path d="M317.49 260.62a31 31 0 1131.05-31 31.08 31.08 0 01-31.05 31zm0-40.52a9.48 9.48 0 109.48 9.48 9.49 9.49 0 00-9.48-9.48zM322.81 149.74a24.46 24.46 0 1124.46-24.46 24.49 24.49 0 01-24.46 24.46zm0-29.89a5.43 5.43 0 105.43 5.43 5.44 5.44 0 00-5.43-5.43z"></path><path d="M320.77 334.09c-37.95 0-78.59-13.46-115-38.67C145.26 253.67 76.49 255.05 55 267.54a12.67 12.67 0 01-18.88-8.82c-.6-3.53-14.17-87.17 43.8-136.63a12.69 12.69 0 0116.43 19.31c-33.44 28.54-37.17 73.54-36.52 97.25 37.58-9.89 102.93-3.73 160.32 35.9 40 27.67 85.17 39.36 123.73 32.05 26.46-5 48-18.85 62.32-40.07a12.69 12.69 0 0121.05 14.17c-18.19 27-45.39 44.56-78.66 50.85a151.29 151.29 0 01-27.82 2.54z"></path><path d="M313.83 380.26c-38.21 0-79.64-13.11-117.39-38.63C149.68 310.06 94.21 302 60 308a12.69 12.69 0 01-4.37-25c36.37-6.32 98.82-.33 155 37.63 55.85 37.74 119.74 45.08 162.75 18.69a12.69 12.69 0 0113.27 21.64c-21.14 12.93-46.19 19.3-72.82 19.3z"></path><path d="M287.62 425a14.47 14.47 0 01-1.6-.1c-32.56-4.1-65.59-16.95-95.51-37.16C158.16 365.93 118 353 80.19 352.29a12.69 12.69 0 01-12.45-12.92 12.91 12.91 0 0112.93-12.46 232.23 232.23 0 01124 39.83c26.64 18 55.85 29.42 84.48 33a12.69 12.69 0 01-1.53 25.26zM212.92 297.68a12.58 12.58 0 01-5.79-1.41c-34.75-17.88-42-58.75-28.8-86.36 11.49-24 36-32.71 61-21.63A12.68 12.68 0 01229 211.47c-15.89-7-23.88 1.23-27.78 9.38-7.06 14.76-4.89 41.33 17.51 52.86a12.69 12.69 0 01-5.82 24z"></path><path d="M186.88 282.34a12.71 12.71 0 01-7.76-2.65c-29.59-22.89-41.54-64.67-28.43-99.36 11.18-29.55 37.08-45.86 69-43.87a12.69 12.69 0 01-1.64 25.32c-20.7-1.47-36.54 8.71-43.66 27.52-8 21-3.56 51.92 20.22 70.31a12.69 12.69 0 01-7.77 22.73z"></path><path d="M151.73 268.5a12.63 12.63 0 01-4.71-.91c-31.22-12.49-46.9-52.08-38.14-96.28 7.87-39.64 38.63-85.65 99.44-85.65h1.36a12.69 12.69 0 01-.14 25.38h-1.18c-45.42 0-68.31 33.59-74.58 65.2s3.28 60 22.67 67.79a12.69 12.69 0 01-4.72 24.47z"></path><path d="M101.59 257.68a12.65 12.65 0 01-9.59-4.35c-15.85-18.19-27.65-66.28-19-112.27C78.77 110 96.22 67.4 146.31 41.1c29.37-15.39 62.94-21.47 92.05-16.79a12.69 12.69 0 01-4.06 25.06c-23.84-3.88-51.6 1.3-76.2 14.21-41.1 21.56-55.41 56.58-60.2 82.16-7.77 41.52 4.3 80.66 13.25 90.91a12.69 12.69 0 01-9.56 21z"></path></g></svg>
                      <div class="ml-4">
                        <p class="text-base font-medium text-teal-600">
                          Tidal PTC
                        </p>
                        <p class="mt-1 text-sm text-gray-500">
                          A parent-teacher conference app to help manage your students' and teachers' schedules.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <a href="/about/" class="text-base font-medium text-gray-500 hover:text-gray-900">
              About
            </a>
          </nav>
          <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
            <span class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
              Sign up coming soon
            </a>
          </div>
        </div>
      </div>

      <div
        x-show="showMobileMenu"
        x-transition:enter="duration-200 ease-out"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="duration-100 ease-in"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        class="absolute top-0 inset-x-0 z-10 p-2 transition transform origin-top-right md:hidden"
      >
        <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
          <div class="pt-5 pb-6 px-5">
            <div class="flex items-center justify-between">
              <div>
                <img class="h-8 w-auto" src="/assets/images/square-blue.svg" alt="Archboard">
              </div>
              <div class="-mr-2">
                <button x-on:click.prevent="showMobileMenu = false" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
                  <span class="sr-only">Close menu</span>
                  <!-- Heroicon name: x -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="mt-6">
              <nav class="grid gap-y-8">
                <a href="/products/tidal-ptc/" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                  <svg class="flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 468.65 468.67" class="h-10 w-auto"><path fill="#047481" d="M468.65 234.34c0 129.42-104.92 234.33-234.31 234.33S0 363.76 0 234.34 104.93 0 234.34 0s234.31 104.91 234.31 234.34z"></path><g fill="#7edce2"><path d="M234.14 432.8C133.65 432.8 48.48 357.72 36 258.14A12.69 12.69 0 0161.2 255c10.87 86.9 85.22 152.43 172.94 152.43 81.12 0 152.7-57.44 170.17-136.55a12.69 12.69 0 1124.78 5.47C409.07 367 327.08 432.8 234.14 432.8z"></path><path d="M317.49 260.62a31 31 0 1131.05-31 31.08 31.08 0 01-31.05 31zm0-40.52a9.48 9.48 0 109.48 9.48 9.49 9.49 0 00-9.48-9.48zM322.81 149.74a24.46 24.46 0 1124.46-24.46 24.49 24.49 0 01-24.46 24.46zm0-29.89a5.43 5.43 0 105.43 5.43 5.44 5.44 0 00-5.43-5.43z"></path><path d="M320.77 334.09c-37.95 0-78.59-13.46-115-38.67C145.26 253.67 76.49 255.05 55 267.54a12.67 12.67 0 01-18.88-8.82c-.6-3.53-14.17-87.17 43.8-136.63a12.69 12.69 0 0116.43 19.31c-33.44 28.54-37.17 73.54-36.52 97.25 37.58-9.89 102.93-3.73 160.32 35.9 40 27.67 85.17 39.36 123.73 32.05 26.46-5 48-18.85 62.32-40.07a12.69 12.69 0 0121.05 14.17c-18.19 27-45.39 44.56-78.66 50.85a151.29 151.29 0 01-27.82 2.54z"></path><path d="M313.83 380.26c-38.21 0-79.64-13.11-117.39-38.63C149.68 310.06 94.21 302 60 308a12.69 12.69 0 01-4.37-25c36.37-6.32 98.82-.33 155 37.63 55.85 37.74 119.74 45.08 162.75 18.69a12.69 12.69 0 0113.27 21.64c-21.14 12.93-46.19 19.3-72.82 19.3z"></path><path d="M287.62 425a14.47 14.47 0 01-1.6-.1c-32.56-4.1-65.59-16.95-95.51-37.16C158.16 365.93 118 353 80.19 352.29a12.69 12.69 0 01-12.45-12.92 12.91 12.91 0 0112.93-12.46 232.23 232.23 0 01124 39.83c26.64 18 55.85 29.42 84.48 33a12.69 12.69 0 01-1.53 25.26zM212.92 297.68a12.58 12.58 0 01-5.79-1.41c-34.75-17.88-42-58.75-28.8-86.36 11.49-24 36-32.71 61-21.63A12.68 12.68 0 01229 211.47c-15.89-7-23.88 1.23-27.78 9.38-7.06 14.76-4.89 41.33 17.51 52.86a12.69 12.69 0 01-5.82 24z"></path><path d="M186.88 282.34a12.71 12.71 0 01-7.76-2.65c-29.59-22.89-41.54-64.67-28.43-99.36 11.18-29.55 37.08-45.86 69-43.87a12.69 12.69 0 01-1.64 25.32c-20.7-1.47-36.54 8.71-43.66 27.52-8 21-3.56 51.92 20.22 70.31a12.69 12.69 0 01-7.77 22.73z"></path><path d="M151.73 268.5a12.63 12.63 0 01-4.71-.91c-31.22-12.49-46.9-52.08-38.14-96.28 7.87-39.64 38.63-85.65 99.44-85.65h1.36a12.69 12.69 0 01-.14 25.38h-1.18c-45.42 0-68.31 33.59-74.58 65.2s3.28 60 22.67 67.79a12.69 12.69 0 01-4.72 24.47z"></path><path d="M101.59 257.68a12.65 12.65 0 01-9.59-4.35c-15.85-18.19-27.65-66.28-19-112.27C78.77 110 96.22 67.4 146.31 41.1c29.37-15.39 62.94-21.47 92.05-16.79a12.69 12.69 0 01-4.06 25.06c-23.84-3.88-51.6 1.3-76.2 14.21-41.1 21.56-55.41 56.58-60.2 82.16-7.77 41.52 4.3 80.66 13.25 90.91a12.69 12.69 0 01-9.56 21z"></path></g></svg>
                  <span class="ml-3 text-base font-medium text-gray-900">
                    Tidal PTC
                  </span>
                </a>
              </nav>
            </div>
          </div>
          <div class="py-6 px-5 space-y-6">
            <div class="grid grid-cols-2 gap-y-4 gap-x-8">
              <a href="/about/" class="text-base font-medium text-gray-900 hover:text-gray-700">
                About
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="lg:relative">
      <%- content %>
    </main>

    <footer class="bg-white" aria-labelledby="footerHeading">
      <h2 id="footerHeading" class="sr-only">Footer</h2>
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
          <div class="space-y-8 xl:col-span-1">
            <img class="h-10" src="/assets/images/square-gray.svg" alt="Archboard">
            <p class="text-gray-500 text-base">
              Equipping schools to do more with less.
            </p>
            <div class="flex space-x-6">
              <!-- <a href="#" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Facebook</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
                </svg>
              </a>

              <a href="#" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Instagram</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
                </svg>
              </a> -->

              <a href="//twitter.com/ArchboardLLC" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Twitter</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                </svg>
              </a>

              <a href="//github.com/archboard" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">GitHub</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
          </div>
          <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  Solutions
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="/products/tidal-ptc/" class="text-base text-gray-500 hover:text-gray-900">
                      Tidal PTC
                    </a>
                  </li>

                  <!-- <li>
                    <a href="/products/plugins/" class="text-base text-gray-500 hover:text-gray-900">
                      PowerSchool Plugin Development
                    </a>
                  </li> -->
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  Support
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="https://docs.archboard.io/en/" class="text-base text-gray-500 hover:text-gray-900">
                      Documentation
                    </a>
                  </li>

                  <!-- <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      Guides
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  Company
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="/about" class="text-base text-gray-500 hover:text-gray-900">
                      About
                    </a>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  Legal
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="/privacy" class="text-base text-gray-500 hover:text-gray-900">
                      Privacy Policy
                    </a>
                  </li>

                  <li>
                    <a href="/terms" class="text-base text-gray-500 hover:text-gray-900">
                      Terms
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-200 pt-8 mt-8 lg:flex lg:items-center lg:justify-between">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Subscribe to our newsletter
            </h3>
            <p class="mt-2 text-base text-gray-500">
              Get the latest news, articles, and resources in your inbox.
            </p>
          </div>
          <form class="mt-4 sm:flex sm:max-w-md lg:mt-0" action="https://mail.archboard.io/subscribe/d55c7218-9463-49fc-bc41-7849b75e70b6" method="post">
            <label for="subscribe_email" class="sr-only">Email address</label>
            <input type="email" name="email" id="subscribe_email" autocomplete="email" required class="appearance-none min-w-0 w-full bg-white border border-gray-300 py-2 px-4 text-base rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-primary-500 focus:border-primary-500 focus:placeholder-gray-400 sm:max-w-xs transition" placeholder="Enter your email">
            <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
              <button type="submit" class="w-full bg-primary-600 border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 transition">
                Subscribe
              </button>
            </div>
          </form>
        </div>
        <div class="mt-12 border-t border-gray-200 pt-8">
          <p class="text-base text-gray-400 xl:text-center">
            &copy; <%= (new Date).getFullYear() %> Archboard, LLC. All rights reserved.
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
